{% extends 'food/base.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    {% block body %}

    {% for item in item_list %}
    

        <div class="row mt-5">
            <div class="col-md-3 offset-md-2">
                <img
                    src="{{ item.item_image }}"
                    class="card"
                    height="135px"
                    width="230px"
                >
            </div>

            <div class="col-md-4">
                <h3 style="font-size: 1.5rem;">{{ item.item_name }}</h3>
                <h5 style="font-style: italic; font-size: 1rem;">{{ item.item_description }}</h5>
                <h6>{{ item.item_price }}</h6>
                <h6 style="font-style: italic;">restaurant owner: {{ item.restaurant_owner }}</h6>
                <h6 style="font-style: italic;">admin: {{ item.admin }}</h6>
            </div>

            <div class="col-md-3">
              {% if user.is_authenticated %}
               <a href="{% url 'food:detail' item.id %}" class="btn btn-success" style="width:100px">
                  Details
               </a>
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-danger" style="width:100px">
                    Details
                </a>
              {% endif %}
            </div>
        </div>

    {% endfor %}

    {% endblock %}

  </body>
</html>